body {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  .Gallery {
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }

@font-face {
  font-family: "defolt";
  src: url("./font/Letters\ for\ Learners.ttf") format("truetype");
}

@font-face {
  font-family: "defolt-bold";
  src: url("./font/Letters\ for\ Learners\ Outline\ Bold.ttf") format("truetype");
}
  